h1 {
    color: #efeee7;
    text-align: center;
    background-color: #333333;
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    
}

body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

#main-bio {
    float: left;
    width: 50%;
    padding: 10px;
}

.contact-info {
    float: left;
}

#bio-image {
    float: left;;
}

#main-bio {
    float: left;
}