h1 {
    color: #efeee7;
    text-align: center;
    background-color: #333333;
    margin: 0px;
    padding: 0px;
    
}

h3 {
    text-align: center;
}

body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 50px;
    padding: 25px;
}